.catalog {
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.catalog__card {
}

.catalog__pagination {
}
