.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-right: 98px;
  padding-left: 98px;

  @media (max-width: 1187px) {
    width: 85%;
    min-width: 970px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    width: 88%;
    min-width: 678px;
    // padding-right: 45px;
    // padding-left: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 90%;
    min-width: 290px;
    // padding-right: 15px;
    // padding-left: 15px;
  }
}
