.form {
  & p {
    @include font($poppins, normal, 500);
    font-size: 14px;
    line-height: 21px;
    color: $zorba;
    text-align: center;
    margin-right: 5px;

    @media (max-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 28px;

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }

  & input {
    @include font($poppins, normal, 500);
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    min-height: 36px;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid $black-wood;
    background-color: transparent;
    color: $black-wood;
    outline: none;

    @media (max-width: $tablet-width) {
      padding: 5px 5px 5px 1px;
    }
  }

  & input::placeholder {
    color: $zorba;
  }

  & input:hover,
  & input:focus {
    border-bottom: 2px solid $medium-wood;
    padding-bottom: 4px;
  }
}

.form__item--error {
  & input {
    border-bottom: 1px solid $red;
  }
}

.form__item--password {
  margin-bottom: 45px;

  @media (max-width: $mobile-width) {
    margin-bottom: 36px;
  }

  & input {
    margin-bottom: 5px;
  }
}

.form__forgot-login {
  @include font($poppins, normal, 500);
  font-size: 12px;
  line-height: 18px;
  color: $zorba;
  text-decoration: none;
  outline: none;
  text-align: end;

  @media (max-width: $tablet-width) {
    margin-right: 2px;
  }

  &:hover,
  &:focus {
    color: $black-wood;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__submit {
  @include font($poppins, normal, 500);
  font-size: 16px;
  line-height: 21px;
  min-height: 68px;
  background: $medium-wood;
  border: 1px solid $medium-wood;
  color: $white;

  &:hover,
  &:focus {
    outline: none;
    background-color: $white;
    color: $black-wood;
  }

  &:active {
    opacity: 0.5;
  }
}

.form__signup-link {
  @include font($poppins, normal, 500);
  font-size: 14px;
  line-height: 21px;
  color: $black-wood;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-left: 5px;
  }

  &:hover,
  &:focus {
    color: $medium-wood;
  }

  &:active {
    opacity: 0.5;
  }
}
