.page-header {
  position: relative;
  min-height: 176px;

  @media (max-width: $tablet-width) {
    min-height: 126px;
  }

  @media (max-width: $mobile-width) {
    min-height: 92px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 64%;
    background-color: $seashell;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__container {
  display: grid;
  grid-template-columns: 1fr 60px max-content 1fr 60px;
  grid-template-rows: auto auto;
  row-gap: 16px;
  align-items: flex-start;
  padding-top: 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: auto;
    row-gap: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
  }
}

.page-header__container--active {
  @media (max-width: $tablet-width) {
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: auto;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: $medium-wood;
    grid-template-rows: max-content 40px max-content 34px;
    row-gap: 40px;
  }

  @media (max-width: $mobile-width) {
    row-gap: 30px;
  }
}

.page-header__container--active .page-header__search-form {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    grid-row: 2;
    height: 40px;
    padding: 7px 12px;
    background: $form-shadow;
    border-radius: 21px;
  }
}

.page-header__container--active .page-header__icon {
  stroke: $white;
}

.page-header__container--active .page-header__logo-icon,
.page-header__container--active .page-header__search-icon {
  fill: $white;
}

.page-header__container--active .page-header__login {
  @media (max-width: $tablet-width) {
    display: flex;
    grid-column: 1/-1;
    grid-row: 4;
    justify-content: flex-start;
    margin-right: 0;
    padding: 0 0 13px;
  }
}

.page-header__container--active .page-header__search-icon {
  width: 16px;
  height: 16px;
}

.page-header__container--nojs {
  @media (max-width: $tablet-width) {
    position: static;
    padding: 30px 0;
    height: auto;
    min-height: 778px;
  }
}

.page-header__nav-toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    width: 25px;
    height: 18px;
    grid-column: 1;
    margin-top: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    margin-top: 17px;
  }

  & svg {
    stroke: $black-wood;
  }

  &:hover svg,
  &:focus svg {
    outline: none;
    opacity: 0.7;
  }

  &:active svg {
    opacity: 0.5;
  }
}


.page-header__search-form {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  padding: 7px 0;

  @media (max-width: $tablet-width) {
    display: none;
  }

  & svg {
    margin-right: 10px;
    fill: $black;
  }


  &:hover svg,
  &:focus svg {
    outline: none;
    fill: $medium-wood;
  }

  &:active svg {
    opacity: 0.7;
  }
}


.page-header__search-form input {
  @include font($poppins, normal, 500);
  font-size: 14px;
  padding: 5px;
  width: 200px;
  border: none;
  background-color: transparent;
  outline: none;

  @media (max-width: $tablet-width) {
    width: calc(100% - 26px);
  }
}

.page-header__search-form input::placeholder {
  font-size: 14px;
  color: $zorba;

  @media (max-width: $tablet-width) {
    color: transparent;
  }
}

.page-header__logo {
  grid-column: 3;

  @media (max-width: $tablet-width) {
    grid-column: 2;
  }

  & svg {
    width: 66px;
    height: 66px;
    fill: $medium-wood;

    @media (max-width: $mobile-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.page-header__login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 22px;
  padding: 12px 0;
  grid-column: 4;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__login-link,
.page-header__cart-link {
  @include font($poppins, normal, 500);
  font-size: 14px;
  color: $black-wood;
  text-decoration: none;
}

.page-header__login-link:hover,
.page-header__login-link:focus,
.page-header__cart-link:hover,
.page-header__cart-link:focus {
  outline: none;
  opacity: 0.7;
}

.page-header__login-link:active,
.page-header__cart-link:active {
  opacity: 0.5;
}

.page-header__login-link {
  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 23px;
    color: $white;
  }
}

.page-header__cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0;
  grid-column: 5;

  @media (max-width: $tablet-width) {
    grid-column: 3;
    padding: 24px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 0;
  }

  & svg {
    display: none;

    @media (max-width: $tablet-width) {
      display: flex;
      fill: none;
      stroke: $black-wood;
    }
  }
}

.page-header__cart-link {
  & span:first-of-type {
    margin-left: 4px;
  }

  & span {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__nav {
  grid-column: 1/-1;
  grid-row: 2;

  @media (max-width: $tablet-width) {
    grid-row: 3;
  }
}
