.pagination--catalog {
  border-top: 1px solid $seashell;

  @media (max-width: $mobile-width) {
    border-top: none;
  }

  .pagination__container {
    display: grid;
    grid-template-columns: 25% 1fr 2fr 1fr;
    padding-top: 35px;
    padding-bottom: 75px;

    @media (max-width: $tablet-width) {
      grid-template-columns: repeat(3, 1fr);
      padding-top: 38px;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      padding-top: 10px;
      padding-bottom: 64px;
    }
  }

  a {
    @include font($poppins, normal, 500);
    font-size: 16px;
    line-height: 21px;
    color: $zorba;
  }

  & .pagination__list {
    grid-column: 3;
    padding-left: 5px;

    @media (max-width: $tablet-width) {
      grid-column: 2;
      padding-left: 0;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      grid-column: 1;
    }

    li {
      @media (max-width: $mobile-width) {
        display: block;
      }
    }
  }

  .pagination__link {
    color: $black-wood;
    outline: none;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.7;
    }
  }

  & .pagination__link--prev {
    grid-column: 2;
    padding-left: 10px;

    @media (max-width: $tablet-width) {
      grid-column: 1;
      padding-left: 0;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  & .pagination__link--next {
    grid-column: 4;
    text-align: end;

    @media (max-width: $tablet-width) {
      grid-column: 3;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  & .pagination__item {
    outline: none;
    padding: 0.4em;

    @media (max-width: $mobile-width) {
      padding: 0.7em;
    }

    &:hover,
    &:focus {
      color: $black-wood;
    }

    &:active {
      color: $black-wood;
      opacity: 0.7;
    }
  }

  & .pagination__item--current {
    color: $black-wood;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 48px;
  list-style: none;

  @media (max-width: $mobile-width) {
    display: none;
  }

  & li {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  & button {
    @include font($poppins, normal, 500);
    font-size: 16px;
    line-height: 21px;
    padding: 0 6px;
    border: none;
    color: $zorba;
    background-color: transparent;
    outline: none;

    &:hover,
    &:focus {
      color: $black-wood;
    }

    &:active {
      color: $black-wood;
      opacity: 0.7;
    }
  }
}
