.social-networks {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;

  & ul {
    @include font($poppins, normal, 500);
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $white;
  }

  & li {
    margin: 0 0 21px;
  }

  & a {
    @include font($poppins, normal, 500);
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $white;
  }

  & a:hover,
  & a:focus {
    opacity: 0.7;
  }

  & a:active {
    opacity: 0.5;
  }

  & svg {
    fill: $white;
    margin-right: 12px;
  }
}

.social-networks__icon--facebook {
  margin-left: 6px;
}
