// // Colors

$white: #ffffff;
$black: #000000;
$black-wood:#1d1613;
$medium-wood:#a87b62;
$zorba: #9b9997;
$desert-storm: #f0eae4;
$very-dark-brown: rgba(86, 64, 52, 0.7);
$seashell: #f6f5f4;
$form-shadow: rgba(255, 255, 255, 0.15);
$white-shadow: rgba(255, 255, 255, 0.75);
$filter-shadow: rgba(219, 213, 208, 0.24);
$popup-shadow: rgba(226, 221, 215, 0.24);
$red: #ff0000;

// Font

$poppins: "Poppins", "Arial", sans-serif;
$cormorant-garamond: "Cormorant Garamond", "Times New Roman", serif;

@mixin font($font, $style: normal, $weight: 400) {
  font-family: $font;
  font-style: $style;
  font-weight: $weight;
}

// Viewports

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Animation

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
